{% extends 'index.html' %}

{% block index %}
<div class="container">

<table class="table" id="book-table">
    <thead>
      <tr>
        <th>Item id</th>
        <th>Item name</th>
        <th>Rate</th>
        <th>Qty</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          {% for cart in carts %}
              {% if cart.user.id == user.id %}
                  {% csrf_token %}
          <tr>
            <td><img src="../media/{{cart.item.image}}" style="width: 120px; height: 90px;" alt=""></td>
            <td>{{cart.item.name}}</td>
            <td>{{cart.item.rate}}</td>
            <td>{{cart.quantity}}</td>
            <td><a class="btn btn-danger" href="{% url 'delete' cart.id %}" onclick="return confirm('Are you sure you want to delete this?');">Delete</a></td>                                       
          </tr>
          {% endif %}
          {% endfor %}

        </tr>
      <tbody>
  </table>
  <button type="button" style="float: right;" class="btn btn-outline-primary mr-3">Checkout</button>
</div>
{% endblock index %}
    